* {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--fc);
}

:root {
	/* Colors */
	--opacity: 80%;

	--light-indigo: color-mix(in srgb, var(--indigo) 90%, white);
	--indigo: rgb(70, 20, 255);
	--dark-indigo: color-mix(in srgb, var(--indigo) 50%, black);

	--transparent-light-indigo: color-mix(in srgb, var(--light-indigo) var(--opacity), transparent);
	--transparent-indigo: color-mix(in srgb, var(--indigo) var(--opacity), transparent);
	--transparent-dark-indigo: color-mix(in srgb, var(--dark-indigo) var(--opacity), transparent);

	--gray1: var(--lgray1);
	--gray2: var(--lgray2);
	--gray3: var(--lgray3);
	--gray4: var(--lgray4);
	--gray5: var(--lgray5);
	--gray6: var(--lgray6);

	--tgray1: var(--tlgray1);
	--tgray2: var(--tlgray2);
	--tgray3: var(--tlgray3);
	--tgray4: var(--tlgray4);
	--tgray5: var(--tlgray5);
	--tgray6: var(--tlgray6);
	
	--lgray-base: rgb(250, 250, 255);
	--step: 5%;

	--lgray1: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step)), black);
	--lgray2: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step) * 2), black);
	--lgray3: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step) * 3), black);
	--lgray4: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step) * 4), black);
	--lgray5: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step) * 5), black);
	--lgray6: color-mix(in srgb, var(--lgray-base) calc(100% - var(--step) * 6), black);

	--dgray-base: rgb(0, 0, 5);

	--dgray1: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 1), white);
	--dgray2: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 2), white);
	--dgray3: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 3), white);
	--dgray4: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 4), white);
	--dgray5: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 5), white);
	--dgray6: color-mix(in srgb, var(--dgray-base) calc(100% - var(--step) * 6), white);

	--tlgray1: color-mix(in srgb, var(--lgray1) var(--opacity), transparent);
	--tlgray2: color-mix(in srgb, var(--lgray2) var(--opacity), transparent);
	--tlgray3: color-mix(in srgb, var(--lgray3) var(--opacity), transparent);
	--tlgray4: color-mix(in srgb, var(--lgray4) var(--opacity), transparent);
	--tlgray5: color-mix(in srgb, var(--lgray5) var(--opacity), transparent);
	--tlgray6: color-mix(in srgb, var(--lgray6) var(--opacity), transparent);

	--tldgray1: color-mix(in srgb, var(--dgray1) var(--opacity), transparent);
	--tldgray2: color-mix(in srgb, var(--dgray2) var(--opacity), transparent);
	--tldgray3: color-mix(in srgb, var(--dgray3) var(--opacity), transparent);
	--tldgray4: color-mix(in srgb, var(--dgray4) var(--opacity), transparent);
	--tldgray5: color-mix(in srgb, var(--dgray5) var(--opacity), transparent);
	--tldgray6: color-mix(in srgb, var(--dgray6) var(--opacity), transparent);

	/* Font */
	--fs-1: 2.986rem;
	--fs-2: 2.488rem;
	--fs-3: 2.074rem;
	--fs-4: 1.728rem;
	--fs-5: 1.44rem;
	--fs-6: 1.2rem;

	--fc: var(--lgray-base);

	/* General */
	--default-bw: 1px;

	/* Body */
	--body-bg-color: var(--gray1);
	--body-bg-grid-color: var(--gray2);
	--body-bg-grid-size: 1.5rem;

	/* Main Nav */
	--main-nav-height: 3rem;
	--main-nav-padding: 0.5rem;
	--main-nav-gap: calc(var(--main-nav-padding) / 2);
	--main-nav-bg-color: linear-gradient(
		90deg,
		var(--dark-indigo),
		var(--indigo)
	);
	--main-nav-bd-color: var(--light-indigo);

	--main-nav-a-height: calc(var(--main-nav-height) - var(--main-nav-padding) * 2);
	--main-nav-a-padding: 0 1rem;
	--main-nav-a-br: calc(var(--main-nav-a-height) / 2);
	--main-nav-a-hover-bg: var(--light-indigo);
}

@media (prefers-color-scheme: dark) {
    :root {
        --gray1: var(--dgray1);
		--gray2: var(--dgray2);
		--gray3: var(--dgray3);
		--gray4: var(--dgray4);
		--gray5: var(--dgray5);
		--gray6: var(--dgray6);

		--tgray1: var(--tdgray1);
		--tgray2: var(--tdgray2);
		--tgray3: var(--tdgray3);
		--tgray4: var(--tdgray4);
		--tgray5: var(--tdgray5);
		--tgray6: var(--tdgray6);
    }
}

body {
	background-color: var(--body-bg-color);
    background-image:
        linear-gradient(
			to right, 
			var(--body-bg-grid-color) var(--default-bw), 
			transparent var(--default-bw)
		),
        linear-gradient(
			to bottom, 
			var(--body-bg-grid-color) var(--default-bw), 
			transparent var(--default-bw)
		);
    background-size: var(--body-bg-grid-size) var(--body-bg-grid-size);
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
}

h1 { font-size: var(--fs-1); }
h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-4); }
h5 { font-size: var(--fs-5); }
h6 { font-size: var(--fs-6); }

/* Keyframes */
@keyframes slideUp {
	to {
		bottom: 0;
	}
}

@keyframes slideDown {
	to {
		top: 0;
	}
}

/* Main Nav */
.main-nav {
	position: fixed;
	bottom: -100%;
	height: var(--main-nav-height);
	width: 100%;
	background: var(--main-nav-bg-color);
	padding: var(--main-nav-padding);
	border-top: var(--default-bw) solid var(--main-nav-bd-color);
	animation: slideUp 0.75s ease forwards;
}

.main-nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--main-nav-gap);
	list-style: none;
	height: 100%;
}

.main-nav ul li {
	height: 100%;
}

.main-nav ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 0.3rem;
	height: var(--main-nav-a-height);
	padding: var(--main-nav-a-padding);
	border-radius: var(--main-nav-a-br);
	overflow: hidden;
	text-decoration: none;
}

.main-nav ul li a::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: inherit;
	background: var(--main-nav-a-hover-bg);
	z-index: -1;
	transform: scale(0.8);
	opacity: 0;
	transform-origin: center;
	transition: transform 0.3s, opacity 0.2s;
}

.main-nav ul li a:hover::before {
	opacity: 1;
	transform: scale(1);
}

.main-nav ul li a * {
	color: white;
}

.main-nav ul li a span {
	display: none;
}

/* Main */
main {

}

@media (min-width: 768px) and (max-width: 1023px) { 
	.main-nav ul li a span {
		display: block;
	}	
}

@media (min-width: 1024px) { 
	.main-nav {
		top: -100%;
		border-bottom: var(--default-bw) solid var(--main-nav-bd-color);
		border-top: none;
		animation: slideDown 0.75s ease forwards;
	}
	
	.main-nav ul li a span {
		display: block;
	}
}